<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">



<!--    自动扫描包-->
    <context:component-scan base-package="com.onisun.demo1"/>
    <!--视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--配置后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

<!--    自定义视图解析器-->
    <bean id="myViewResolver" class="com.onisun.demo1.viewResolver.MyViewResolver">
<!--        设置执行优先-->
        <property name="order" value="1"/>
    </bean>


    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
<!--        自定义类型转换-->
        <property name="converters">
            <set>
                <ref bean="myConverter"/>
            </set>
        </property>
    </bean>

<!--    配置这个后可以访问静态资源，但是会访问不了其他请求 -->
    <mvc:default-servlet-handler/>
<!--    静态资源和动态请求都能访问-->
    <mvc:annotation-driven conversion-service="conversionService"/>

</beans>